body {
    background-color: rgb(225, 220, 255);
}
h1 {
    color: rgb(85, 17, 119);
}
div{ 
    background-color: rgb(193, 234, 255);
    width: 40vw;
}

.DivLilita {
    background-color: rgb(215, 142, 213);
}

#DivUnico {
    background-color: rgb(233, 175, 220);
}

#Dibujo {
    width: 40vw;
    height: 40vw;
    background-color: rgb(228, 231, 249);
    border-radius:5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Cara {
    width: 60%;
    height: 60%;
    background-color:rgb(255, 244, 229);
    border-radius: 50%;
    position: relative;
}

.ojos {
     width: 28%;
     height: 28%;
     background-color: rgb(40, 22, 1);
     border-radius: 50%;
     position: absolute;
}

#OjoIzq {
    top: 25%;
    left: 20%;
}

#OjoDer {
    top: 25%;
    right: 20%;
}
.boca {
    width:25%;
    height:10%;
    background-color: rgb(40, 22, 1);
    border-radius: 0 0 50px 50px ;
    position: absolute;
    bottom: 20%;
    left: 38%;
}

.blush{
    width: 20%;
    height: 15%;
    background-color: rgb(233, 175, 220);
    border-radius: 50%;
    position: absolute;
}

#blushIzq {
    bottom: 30%;
    left: 10%
}
#blushDer {
    bottom: 30%;
    right: 10%
}
.pupils{
     width: 5%;
     height: 5%;
     background-color: rgb(238, 228, 249));
     border-radius: 50%;
     position: absolute;
}

#PupIzq {
    top: 30%;
    left: 25%;
}

#PupDer {
    top: 30%;
    right: 40%;
}